* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,.products,
.services,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.signup-box {
  width: 380px;
  padding: 30px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);

  display: flex;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.signup-form input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.signup-form button {
  padding: 12px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.signup-form button:hover {
  background-color: #ff5733;
}

